[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile={{ v.gunicorn.pid_basedir }}/{{ v.gunicorn.pid_dirname }}/{{ v.gunicorn.pid_filename }}
User={{ ansible_user }}
Group={{ ansible_user }}
RuntimeDirectory={{ v.gunicorn.pid_dirname }}
RuntimeDirectoryMode=0755
Restart=on-failure
WorkingDirectory={{ v.project_dir }}
ExecStart={{ v.project_dir }}/{{ v.venv_name }}/bin/gunicorn wsgi:app -c {{ v.project_dir }}/gunicorn_config.py
# ExecStart={{ v.project_dir }}/{{ v.venv_name }}/bin/gunicorn --worker-class eventlet --pid {{ v.gunicorn.pid_basedir }}/{{ v.gunicorn.pid_dirname }}/{{ v.gunicorn.pid_filename }} --bind unix:{{ v.gunicorn.pid_basedir }}/{{ v.gunicorn.pid_dirname }}/{{ v.gunicorn.socket_name }} wsgi:app --workers=5 --capture-output --error-logfile {{ v.gunicorn.log_dirname }}/{{ v.gunicorn.log_filename }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target