[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=deployer
Group=deployer
RuntimeDirectory=gunicorn
Restart=on-failure
WorkingDirectory=/home/deployer/tickers
ExecStart=/home/deployer/tickers/venv/bin/gunicorn wsgi:app -c /home/deployer/tickers/gunicorn_config.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target